body{
	background-color: #f2f2ff;
}

#puzzle{
	width: 600px;
	height: 400px;
	margin: auto;
	border: 4px solid black;
	position: relative;
}

*{
	font-size: 0;
	margin: 0;
	padding: 0;
}

img{
	vertical-align: top;
}

img:nth-of-type(11){
	position: absolute;
	top: 49px;
	display: block;
}

img:nth-of-type(12){
	position: absolute;
	left: 51px;
	top: 83px;
	display: block;
}

img:nth-of-type(13){
	position: absolute;
	left: 133px;
	top: 66px;
	display: block;
}

img:nth-of-type(14){
	position: absolute;
	left: 190px;
	top: 92px;
	display: block;
}

img:nth-of-type(15){
	position: absolute;
	left: 240px;
	top: 64px;
	display: block;
}

img:nth-of-type(16){
	position: absolute;
	left: 314px;
	top: 110px;
	display: block;
}

img:nth-of-type(17){
	position: absolute;
	left: 378px;
	top: 126px;
	display: block;
}

img:nth-of-type(18){
	position: absolute;
	left: 447px;
	top: 121px;
	display: block;
}

img:nth-of-type(19){
	position: absolute;
	left: 513px;
	top: 150px;
	display: block;
}

img:nth-of-type(20){
	position: absolute;
	left: 564px;
	top: 129px;
	display: block;
}

img:nth-of-type(21){
	position: absolute;
	top: 159px;
	display: block;
}

img:nth-of-type(22){
	position: absolute;
	left: 51px;
	top: 184px;
	display: block;
}

img:nth-of-type(23){
	position: absolute;
	left: 133px;
	top: 198px;
	display: block;
}

img:nth-of-type(24){
	position: absolute;
	left: 190px;
	top: 208px;
	display: block;
}

img:nth-of-type(25){
	position: absolute;
	left: 240px;
	top: 183px;
	display: block;
}

img:nth-of-type(26){
	position: absolute;
	left: 314px;
	top: 200px;
	display: block;
}

img:nth-of-type(27){
	position: absolute;
	left: 378px;
	top: 189px;
	display: block;
}

img:nth-of-type(28){
	position: absolute;
	left: 447px;
	top: 192px;
	display: block;
}

img:nth-of-type(29){
	position: absolute;
	left: 513px;
	top: 199px;
	display: block;
}

img:nth-of-type(30){
	position: absolute;
	left: 564px;
	top: 189px;
	display: block;
}

img:nth-of-type(31){
	position: absolute;
	top: 234px;
	display: block;
}

img:nth-of-type(32){
	position: absolute;
	left: 76px;
	top: 234px;
	display: block;
}

img:nth-of-type(33){
	position: absolute;
	left: 127px;
	top: 237px;
	display: block;
}

img:nth-of-type(34){
	position: absolute;
	left: 182px;
	top: 237px;
	display: block;
}

img:nth-of-type(35){
	position: absolute;
	left: 250px;
	top: 237px;
	display: block;
}

img:nth-of-type(36){
	position: absolute;
	left: 304px;
	top: 237px;
	display: block;
}

img:nth-of-type(37){
	position: absolute;
	left: 365px;
	top: 237px;
	display: block;
}

img:nth-of-type(38){
	position: absolute;
	left: 459px;
	top: 237px;
	display: block;
}

img:nth-of-type(39){
	position: absolute;
	left: 503px;
	top: 230px;
	display: block;
}

img:nth-of-type(40){
	position: absolute;
	left: 543px;
	top: 237px;
	display: block;
}

img:nth-of-type(41){
	position: absolute;
	top: 306px;
	display: block;
}

img:nth-of-type(42){
	position: absolute;
	left: 76px;
	top: 338px;
	display: block;
}

img:nth-of-type(43){
	position: absolute;
	left: 127px;
	top: 354px;
	display: block;
}

img:nth-of-type(44){
	position: absolute;
	left: 182px;
	top: 337px;
	display: block;
}

img:nth-of-type(45){
	position: absolute;
	left: 250px;
	top: 355px;
	display: block;
}

img:nth-of-type(46){
	position: absolute;
	left: 304px;
	top: 335px;
	display: block;
}

img:nth-of-type(47){
	position: absolute;
	left: 365px;
	top: 326px;
	display: block;
}

img:nth-of-type(48){
	position: absolute;
	left: 459px;
	top: 353px;
	display: block;
}

img:nth-of-type(49){
	position: absolute;
	left: 503px;
	top: 365px;
	display: block;
}

img:nth-of-type(50){
	position: absolute;
	left: 543px;
	top: 341px;
	display: block;
}